.employeeCard {
    display: block;
    background-color: #a3e0ff;
    padding: 20px 5px; 
    width: 300px; 
    text-align: center;
    color: #000000;
    border-radius: 15px;    
    border: 8px ridge rgb(48, 192, 240);
    h3{
        font-size: 20px;
        margin-top: 20px;
        font-weight: normal;      
        margin-bottom: 2px;
    }
    p{
        font-weight: bold;
        font-size: 22px;
    }
}

.system {
    width: 250px;
    height: 240px;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transform: translateZ(50px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

  
@media (max-width: 1400px){
    .employeeCard{
        width: 290px;
        h3{
            font-size: 18px;
        }
        p{
            font-size: 20px;
        }
    }
    .system{
        width: 240px;
        height: 230px;
    }
}
  
@media (max-width: 1200px){
    .employeeCard{
        width: 280px;
    }
    .system{
        width: 230px;
        height: 220px;
    }
}
  
  @media (max-width: 1030px){
    .employeeCard{
        width: 270px;
        padding: 15px 5px;
        h3{
            font-size: 16px;
        }
        p{
            font-size: 18px;
        }
    }  
    .system{
        width: 220px;
        height: 210px;
    } 
}

@media (max-width: 500px){
    .employeeCard{
        width: 250px;
        h3{
            font-size: 15px;
        }
        p{
            font-size: 17px;
        }
    }
    .system{
        width: 210px;
        height: 200px;
    }
}