.employeeCard {
    display: block;
    background-color: #a3e0ff;
    padding: 20px 5px; 
    width: 300px; 
    text-align: center;
    color: #000000;
    border-radius: 15px;    
    border: 8px ridge rgb(48, 192, 240);
    h3{
        font-size: 20px;
        margin-top: 10px;
        font-weight: normal;      
        margin-bottom: 2px;
    }
    p{
        font-weight: bold;
        font-size: 22px;
    }
}

.system {
    width: 250px;
    height: 240px;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
}

  
@media (max-width: 1400px){
    .employeeCard{
        width: 240px;
        p{
            font-size: 16px;
        }
    }
    .system{
        width: 200px;
        height: 190px;
    }
    .headerTitle{
        font-size: 17px;
    }
}
  
@media (max-width: 1200px){
    .employeeCard{
        width: 230px;
    }
    .system{
        width: 190px;
        height: 180px;
    }
}
  
  @media (max-width: 1030px){
    .employeeCard{
        padding: 15px;
        p{
            font-size: 15px;
        }
    }  
    .system{
        width: 200px;
        height: 190px;
    }
    .headerTitle{
        font-size: 17px;
        margin-top: 12px;    
    }  
    .actionTitle{
        font-size: 17px;
        padding: 2px;
        margin: 7px 3px;
    }  
}
  
  @media (max-width: 740px){
    .headerTitle{
        font-size: 16px;
    }
    .actionTitle{
        font-size: 16px;
    }
    .employeeCard p{
        font-size: 14px;
    }
}
  
  @media (max-width: 430px) {
    .employeeCard {
        width: 220px;
        p{
            font-size: 15px;
        }
    }
    .headerTitle{
        font-size: 17px;
    }
    .system {
        width: 190px;
        height: 180px;
    }
}
  
  @media (max-width: 375px){
    .employeeCard{
        width: 200px;
        p{
            font-size: 14px;
        }
    }
    .system{
        width: 170px;
        height: 160px;
    }
    .headerTitle{
        margin-top: 7px;
    }
}
  
  