.wrapper {
  display: flex;
  grid-template-columns: 1fr; // Одна колонка по умолчанию
}

.verticalMenu {
  max-width: 200px;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column; // Вертикальное меню
  
  a{
    background-color: #17c9ff; 
    color: black; 
    display: block;
    padding: 7px;
    text-decoration: none; 
    cursor: pointer;
    outline: 2px solid rgb(39, 140, 255);

    &:hover{
      background-color: #5eecff;
    }
  }
}

.productsInfo {
  display: grid;
  align-items: center;
  background-color: #d1f8ff;
  padding: 10px 0;
  text-align: center;
  margin-left: 10px;
}

.productsText {
  padding: 0 10px;
  margin-bottom: 5px;
  flex: auto;
  .productsFrame{
    width: 21%;
    margin-left: auto;
    margin-right: auto;
    img{
      width: 100%;
    }
  }
  .mainImg{
    width: 55%;
    padding: 7px 0;
    cursor: zoom-in; // Курсор в виде лупы
    overflow: hidden; /* Предотвращает выход изображений за пределы контейнера */
    transition: transform 0.9s ease;
  
    &:hover {
      transform: scale(1.02);
    }
  }

  h3{
    font-size: 20px;
    text-align: center;
  }
  h1{
    font-size: 18px;
    text-align: left;
    margin-left: 18px;
  }
  p{
    font-size: 17px;
    text-align: left;
    margin-left: 5px;
    text-indent: 25px;
    img{
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}

.backUp{
  position: fixed;
  bottom: 20px;
  right: 18px;
  opacity: 0; // Начальная прозрачность
  visibility: hidden; // Начальная видимость
  transition: opacity 2.1s ease, visibility 1.0s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
  a{
    display: inline-block;
    padding: 20px;
    background-color: #0066ff81;
    text-decoration: none; 
    border-radius: 100%; 
    cursor: pointer;
    img{
      width: 30px;
      height: 30px;
    }
    &:hover{
      outline: 2px solid rgb(0, 60, 255);
      background-color: rgba(0, 132, 255, 0.884);      
    }
  }
}

.productsGallery{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.blocImg{
  display: flex;
  padding: 5px 0;
  gap: 12px;
  cursor: zoom-in;
  overflow: hidden;
  img{
    width: 50%;
    transition: transform 0.9s ease;
    &:hover{
      transform: scale(1.02);   
    }
  }
}

@media (max-width: 1400px){
  .productsText{
    .productsFrame{
      width: 23%;
    }
    h3{
      font-size: 19px;
    }
    h1{
      font-size: 17px;
    }
    p{
      font-size: 16px;
    }
  }
}

@media (max-width: 1245px){
  .verticalMenu{
    max-width: 180px;
    min-width: 180px;
    font-size: 15px;
    a{
      padding: 5px;
    }
  }
  .productsGallery{
    width: 450px;
  }
  .blocImg{
    gap: 9px;
  }
  .productsText{
    .productsFrame{
      width: 26%;
    }
  }
}

@media (max-width: 1030px){
  .verticalMenu{
    max-width: 160px;
    min-width: 160px;
    font-size: 14px;    
  }
  .productsInfo{
    padding: 5px 0;
  }
  .productsText{
    padding: 0px 7px;
    .productsFrame{
      width: 30%;
    }
    .mainImg{
      width: 80%;
      padding: 4px 0;
      margin-top: 2px;
    }
    h3{
      font-size: 18px;
    }
    h1{
      font-size: 17px;
      margin-left: 20px;
    }
    p{
      font-size: 16px;
    }
  }  
  .backUp{
    a{
      padding: 15px;
      img{
        width: 25px;
        height: 25px;
      }
    }    
  }
  .productsGallery{
    width: 350px;
  }
  .blocImg{
    gap: 7px;
  }
}

@media (max-width: 770px){
  .verticalMenu{
    max-width: 150px;
    min-width: 150px;
    font-size: 13px;
  }
  .productsText{
    .productsFrame{
      width: 32%;
    }
    h3{
      font-size: 16px;
    }
    h1{
      font-size: 15px;
    }
    p{
      font-size: 14px;
    }
    .ikon{
      width: 65%;
    }
  }  
  .productsGallery{
    width: 300px;
  }
}

@media (max-width: 560px){
  .wrapper{
    display: grid;
    gap: 15px;
  }
  .verticalMenu{
    font-size: 15px;
    max-width: 100%;
    a{
      &:hover{
        background-color: #17c9ff;
      }
    }
  }
  .productsInfo{
    margin-top: 10px;
    margin-left: 0px;
  }
  .productsText{
    .productsFrame{
      width: 37%;
    }
    .mainImg{
      width: 100%;
      padding: 3px 5px;
    }
  }
  .backUp{
    a{
      img{
        width: 20px;
        height: 20px;
      }
      &:hover {
        outline: 0px;
        background-color: #0066ff81;
      }
    }  
  }
  .productsGallery{
    width: 250px;
  }
  .blocImg{
    gap: 5px;
  }
}

@media (max-width: 430px) {
  .verticalMenu {
    font-size: 14px;
    a{
      padding: 5px;
    }
  }
  .productsInfo {
    padding: 3px;
    margin-top: 5px;
  }
  .productsText {
    padding: 3px;
    .productsFrame{
      width: 45%;
    }
    h3 {
      font-size: 15px;
    }
    h1 {
      font-size: 14px;
    }
    p {
      font-size: 13px;
    }
  } 
}
