.numberAbout{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    flex-wrap: wrap;
}

@media (max-width: 1200px){
    .numberAbout{
        gap: 50px;
        padding: 15px;
    }
}

@media (max-width: 1030px){
    .numberAbout{
        gap: 35px;
        padding: 10px;
    }
}

@media (max-width: 430px){
    .numberAbout{
        gap: 15px;
        padding: 5px;
    }
}