.numberAbout{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 50px;
    // background-color: #e6f7ff;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.bloc {
    display: block;
    background-color: #e6f7ff;
    // background-color: #6acdff;
    padding: 10px 5px; 
    // width: 300px; 
    text-align: left;
    color: #000000;
    // border-radius: 8px;
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 40px;
        font-weight: bold;
        // margin-top: 10px;   
        // margin-bottom: 2px;
    }
    p{
        font-size: 21px;
    }
}