.modal {
  display: flex;
  position: fixed; /* Окно фиксировано */
  z-index: 2; /* На переднем плане */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку при необходимости */
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
  justify-content: center; /* для расположения изображения по центру */
  align-items: center; /* для расположения изображения по центру */
}

.imageBlock {
  position: relative;
  height: 100%;
  max-width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: auto; /* Автоматическая ширина для сохранения пропорций */
  max-width: 100%; /* Максимальная ширина увеличенного изображения */
  max-height: 99%; /* Максимальная высота, чтобы изображение не выходило за пределы экрана */
  cursor: zoom-out; // Курсор в виде лупы с минусом
}

.close {
  position: absolute;
  top: 15px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

/* Кнопки вперед и назад */
.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  // color: rgb(0, 0, 0);
  outline: 1px solid rgb(0, 60, 255);
  color: rgb(177, 233, 255);
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;

}
.previous {
  left: 40px;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 40px;
  border-radius: 0 3px 3px 0;
}
/* При наведении на кнопки добавляем фон кнопок */
.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 784px) {
  .previous, .next{
    top: 46%;
    font-size: 35px;
  }
  .previous {
    left: 20px;
  }
  .next {
    right: 20px;
  }
}

@media (max-width: 515px) {
  .previous, .next{
    font-size: 30px;
  }
  .previous {
    left: 6px;
  }
  .next {
    right: 6px;
  }
}
