/* Форма для заголовка страницы */
.boxButtonText {
  display: flex;
  align-items: center;
}

/* Кнопка назад, на форме для заголовка страницы */
.boxButtonText a {
  text-decoration: none;
  color: #0d5fda;
  cursor: pointer;
}

.back {
  font-size: 55px;
  margin-left: 10px;
}

.content {
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1030px){
  // .boxButtonText{
  //   margin: 0 20px;
  // }
  .back{
    font-size: 45px;
  }  
  // h2{
  //   font-size: 22px;
  //   margin: 3px;
  // }
}

@media (max-width: 770px){
  // .boxButtonText{
  //   margin: 0 15px;
  // }
  .back{
    font-size: 40px;
  }
  // h2{
  //   font-size: 20px;
  // }
  .content{
    display: grid;
    margin: 0 10px 15px 10px;
    padding: 13px 8px;
  }
}

// @media (max-width: 630px){
//   h2{
//     margin-bottom: 8px;
//   }
// }

@media (max-width: 430px) {
  .content {
    padding: 7px;
  }
  // h2 {
  //   font-size: 18px;
  // }
}

@media (max-width: 375px) {
  .content {
    padding: 5px;
  }
  // h2 {
  //   font-size: 17px;
  // }
}
