/* Форма для заголовка страницы */
.boxButtonText {
  display: flex;
  align-items: center;
  margin: 5px 0;
  margin-left: 10px;
  img{
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }
}

.content {
  margin: 0 20px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

@media (max-width: 1030px){
  .boxButtonText{
    img{
      width: 55px;
      height: 55px;
    }
  }
  .content{
    display: grid;
    margin-bottom: 15px;
    padding: 10px;
  }
}

@media (max-width: 770px){
  .boxButtonText{
    margin-left: 5px;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .content{
    margin: 0 10px 15px 10px;
    padding: 13px 8px;
  }
}

@media (max-width: 430px) {
  .boxButtonText{
    img{
      width: 45px;
      height: 45px;
    }
  }
  .content {
    padding: 7px;
  }
}
