/* Страничка контактов */
.contactContent {
    padding: 20px 25px;
    background-color: #f1f1f1;
    margin: 0 20px;
    display: flex;
    gap: 15px;
}

.contactText{
    display: grid;
    height: 65%;
    width: 100%;
    h4{
        font-size: 22px;
    }
    p{
        font-size: 20px;
        text-indent: 10px;
    }
}

.leftContent {
    float: right;
}

@media (max-width: 1400px){
    .contactText{
        h4{
            font-size: 20px;
        }
        p{
            font-size: 18px;
        }
    }   
    .leftContent iframe{
        width: 650px;
    }
}

@media (max-width: 1200px){
    .contactContent{
        display: grid;
        padding: 15px 20px;
        gap: 20px;
    }
    .contactText{
        height: auto;
        p{
            margin-top: 4px;
        }
    }
    .leftContent iframe{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .contactText{
        h4{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
    }
}

@media (max-width: 770px){
    .contactContent{
        padding: 10px 15px;
    }
    .leftContent iframe{
        height: 380px;
    }
    .contactText{
        h4{
            font-size: 17px;
        }
        p{
            font-size: 15px;
        }
    }
}

@media (max-width: 530px){
    .contactContent{
        padding: 9px 13px;
        margin: 0 10px;
    }
    .contactText{        
        h4{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
    }
    .leftContent iframe{
        height: 400px;
    }
}