/* Страничка контактов */
.contactContent {
    padding: 20px 35px;
    background-color: #f1f1f1;
    margin: 0 20px;
    display: flex;
    gap: 15px;
}

.contactText{
    display: grid;
    margin-right: auto;
    height: 65%;
    gap: 30px;
}

.contactBloc{ 
    h4{
        font-size: 22px;
    }
    p{
        font-size: 20px;
        text-indent: 10px;
        margin-top: 7px;
    }
}

.leftContent {
    float: right;
}

.title{
    margin-top: 10px;
}

@media (max-width: 1400px){
    .contactBloc{
        h4{
            font-size: 20px;
        }
        p{
            font-size: 18px;
        }
    }   
    .leftContent iframe{
        width: 650px;
    }
}

@media (max-width: 1200px){
    .contactContent{
        display: grid;
        padding: 15px 30px;
        gap: 20px;
    }
    .contactText{
        display: flex;
        margin-right: 0;
        gap: 8px;
        height: auto;
    }
    .contactBloc{
        width: 50%;
        h4{
            font-size: 19px;
        }
        p{
            font-size: 17px;
            margin-top: 4px;
        }
    }
    .leftContent iframe{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .title{
        margin-top: 5px;
    }
    .contactBloc{
        h4{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
    }
}

@media (max-width: 770px){
    .contactContent{
        padding: 15px 20px;
    }
    .contactText{
        display: grid;
        gap: 15px;        
    }
    .contactBloc{
        width: auto;
        h4{
            font-size: 17px;
        }
        p{
            font-size: 15px;
        }
    }
    .leftContent iframe{
        height: 360px;
    }
}

@media (max-width: 530px){
    .contactContent{
        padding: 9px 13px;
        margin: 0 10px;
    }
    .contactBloc{        
        h4{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
    }
    .leftContent iframe{
        height: 400px;
    }
}

// @media (max-width: 375px) {
//     .contactContent{
//         margin: 7px;
//     }
//     .leftContent iframe{
//         height: 400px;
//     }
// }