.footerIcon {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

footer {
  background-color: #8ad7fd;
  color: #000000;
  padding: 15px 0;
  margin-top: 10px;
}

.footerContainer{
  display: flex;
  max-width: 100%;
  padding: 0 25px;
}

.footerContainerText {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
}

.footerText {
  flex: 1;
  margin-right: 30px;
  max-width: 380px;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p, a{
    font-size: 17px;
    text-decoration: none;
    margin: 5px 0;
    text-indent: 10px;
  }
}

.footerBloc{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 400px;
  margin-right: auto;
}

.footerSection {
  flex: 1;
  margin-right: 30px;
  width: 170px;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p, a{
    font-size: 17px;
    text-decoration: none;
    text-indent: 10px;
    color: black;
  }
}

.footerSection a:hover {
  text-decoration: underline;
}

.footerLogo {
  margin-left: auto;
  img {
    width: 170px;
  }
}

@media (max-width: 1360px){
  .footerText{
    max-width: 345px;
    margin-right: 20px;
    h3{
      font-size: 16px;
    }
    p, a{
      font-size: 15px;
    }
  }
  .footerBloc{
    width: 360px;
  }
  .footerSection{
    max-width: 160px;
    margin-right: 20px;
    h3{
      font-size: 16px;
    }
    p, a{
      font-size: 15px;
    }
  }
  .footerLogo img{
    width: 155px;
  }
}

@media (max-width: 1030px){
  .footerText{
    max-width: 300px;
    h3{
      font-size: 14px;
    }
    p, a{
    font-size: 13px;
    }
  }
  .footerBloc{
    width: 320px;
  }
  .footerSection{
    max-width: 140px;
    h3{
      font-size: 14px;
    }
    p, a{
    font-size: 13px;
    }
  }
  .footerLogo img{
    width: 140px;
  }
}

@media (max-width: 840px){
  .footerContainer{
    padding: 0 25px;
  }
  .footerContainerText{
    display: grid;
    justify-content: left;
  }
  .footerText{
    max-width: 320px;
    margin-right: 0;
    h3{
      font-size: 15px;
    }
    p, a {
    font-size: 14px;
    }
  }
  .footerBloc{
    width: 330px;
    margin-right: 0;
  }
  .footerSection{
    max-width: 150px;
    margin-right: 15px;
    h3{
      font-size: 15px;
    }
    p, a {
    font-size: 14px;
    }
  } 
}

@media (max-width: 600px) {
  .footerText{
    max-width: 300px;
    h3{
      font-size: 14px;
    }
    p, a{
      font-size: 13px;
      margin: 3px 0;
    }
  }
  .footerIcon{
    font-size: 12px;
  }
  .footerBloc{
    width: 310px;
  }
  .footerSection{
    max-width: 140px;
    h3{
      font-size: 14px;
    }
    p, a{
    font-size: 13px;
    }
  }
  .footerLogo img{
    width: 135px;
  }  
}

@media (max-width: 490px){
  .footerText{
    margin-bottom: 3px;
    p, a{
      margin: 0px;      
    }
  }
  .footerContainer{
    display: grid;
  }
  .footerLogo{
    margin-left: 0;
    margin-top: 3px;
  }
}

@media (max-width: 375px){
  .footerContainerText{
    width: 300px;
  }
  .footerContainer{
    padding: 0 10px;
  }
  .footerSection{
    margin-right: 5px;
  }
}