footer {
  background-color: #8ad7fd;
  color: #000000;
  padding: 15px 25px;
  margin-top: 20px;
}

.footerContainer{
  display: flex;
  max-width: 100%;
}

.footerContainerText {
  display: flex;  
}

.footerText {
  flex: 1;
  margin-right: 30px;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p{
    font-size: 17px;
    text-decoration: none;
    margin: 5px 0;
    text-indent: 10px;
    img{
      height: 14px;
      width: 14px;
      margin-right: 6px;
    }
  }
}

.footerBloc{
  display: flex;  
}

.footerSection {
  flex: 1;
  margin-right: 20px;
  width: 170px;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p{
    text-indent: 10px;
    a{
      font-size: 17px;
      text-decoration: none;
      color: black;   
    }
  }
}

.footerSection a:hover {
  text-decoration: underline;
}

.footerLogo {
  margin-left: auto;
  img {
    width: 170px;
  }
}

@media (max-width: 1400px){
  .footerText{
    margin-right: 20px;
    h3{
      font-size: 17px;
    }
    p{
      font-size: 16px;
    }
  }
  .footerSection{
    max-width: 160px;
    h3{
      font-size: 17px;
    }
    p{
      a{
        font-size: 16px;
      }
    }
  }
  .footerLogo{
    img{
      width: 160px;
    }
  } 
}

@media (max-width: 1200px){
  .footerText{    
    h3{
      font-size: 16px;
    }
    p{
      font-size: 15px;
    }
  }
  .footerSection{
    max-width: 150px;
    h3{
      font-size: 16px;
    }
    p{
      a{
        font-size: 15px;
      }
    }
  }
  .footerLogo{
    img{
      width: 150px;
    }
  }
}

@media (max-width: 1030px){
  .footerText{
    width: 313px;
    h3{
      font-size: 15px;
    }
    p{
    font-size: 14px;
    }
  }
  .footerSection{
    margin-right: 15px;
    h3{
      font-size: 15px;
    }
    p{      
      a{
        font-size: 14px;
      }
    } 
  }
  .footerLogo{
    img{
      width: 140px;
    }
  } 
}

@media (max-width: 840px){
  footer{
    padding: 13px 20px;
  }
  .footerContainerText{
    display: grid;
    justify-content: left;
  }
  .footerText{
    margin-right: 0;
    h3{
      font-size: 15px;
    }
    p{
      margin: 3px 0;
      font-size: 14px;
    }
  }
  .footerBloc{
    width: 330px;
    margin-right: 0;
  }
  .footerSection{
    max-width: 150px;
    margin-right: 15px;
    h3{
      font-size: 15px;
    }
    p, a {
    font-size: 14px;
    }
  } 
}

@media (max-width: 515px){
  .footerText{
    margin-bottom: 2px;
    p{
      margin: 1px 0;
      img{
        width: 12px;
        height: 12px;
      }     
    }
  }
  .footerContainer{
    display: grid;
  }
  .footerLogo{
    margin-left: 0;
    margin-top: 3px;
    img{
      width: 130px;
    }
  }
}

@media (max-width: 430px){
  footer{
    padding: 10px 15px;
  }
  .footerText{
    h3{
      font-size: 14px;
    }
    p{
      font-size: 13px;  
    }
  }
  .footerSection{
    max-width: 140px;
    margin-right: 10px;
    h3{
      font-size: 14px;
    }
    p, a {
    font-size: 13px;
    }
  } 
}

@media (max-width: 375px){
  .footerSection{
    margin-right: 5px;
    h3{
      font-size: 13px;
    }
    p, a {
    font-size: 12px;
    }
  } 
}