.employeeCard {
  background-color: #36a9e1;
  padding: 20px; 
  width: 250px; 
  text-align: center;
  color: #fff;
  border-radius: 8px;
  // transition: transform 0.3s;
  transition: transform 1.9s ease, z-index 1.6s ease; /* Плавное увеличение */
  cursor: pointer;
  p{
    font-size: 18px;
  }
  &:hover{
    transform: scale(1.06);
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.4);
    .actionTitle{
      text-decoration: underline;
    }
  }
}

.system {
  width: 210px; /* Увеличиваем ширину фото */
  height: 200px; /* Увеличиваем высоту фото */
  background-size: cover;
  background-position: center;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.headerTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.actionTitle {
  font-size: 20px;
  margin: 10px 5px;
  cursor: pointer;
}

@media (max-width: 1400px){
  .employeeCard{
    width: 240px;
    p{
      font-size: 16px;
    }
  }
  .system{
    width: 200px;
    height: 190px;
  }
  .headerTitle{
    font-size: 17px;
  }
}

@media (max-width: 1200px){
  .employeeCard{
    width: 230px;
  }
  .system{
    width: 190px;
    height: 180px;
  }
}

@media (max-width: 1030px){
  .employeeCard{
    padding: 15px;
    p{
      font-size: 15px;
    }
  }  
  .system{
    width: 200px;
    height: 190px;
  }
  .headerTitle{
    font-size: 17px;
    margin-top: 12px;    
  }  
  .actionTitle{
    font-size: 17px;
    padding: 2px;
    margin: 7px 3px;
  }  
}

@media (max-width: 740px){
  .headerTitle{
    font-size: 16px;
  }
  .actionTitle{
    font-size: 16px;
  }
  .employeeCard p{
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .employeeCard {
    width: 220px;
    p{
      font-size: 15px;
    }
  }
  .headerTitle{
    font-size: 17px;
  }
  .system {
    width: 190px;
    height: 180px;
  }
}

@media (max-width: 375px){
  .employeeCard{
    width: 200px;
    p{
      font-size: 14px;
    }
  }
  .system{
    width: 170px;
    height: 160px;
  }
  .headerTitle{
    margin-top: 7px;
  }
}

